<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Bank Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="logo-cont">
            <svg class="logo" width="42px" height="27px" viewBox="0 0 42 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M27.2861584,12.161723 C21.878637,13.1079515 17.6922039,20.3685835 15.4747077,25.1841521 C13.3245071,4.20375459 42,0 42,0 C42,0 37.9221081,28.5085611 15.7102421,26.9373612 L27.2861584,12.161723 Z M9.68859135,25.3642259 L4.07597867,14.6643189 C3.16588397,18.4076368 6.95830724,23.2066496 9.14123129,25.5907604 C-4.2897248,21.7286768 1.04594976,3.21222934 1.04594976,3.21222934 C1.04594976,3.21222934 15.98106,12.9521138 9.68859135,25.3642259 Z" fill="#fff"></path>
            </svg>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="login-box">
            <div class="logo">
                <img th:src="@{/logo.png}" alt="Green Bank Logo">
            </div>
            <h2>Bine ai venit!</h2>
            <form th:action="@{/login/submit}" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button value="Submit" type="submit">Continuă</button>
            </form>
            <div th:if="${error}" class="error-message" style="color: red;">
                <p th:text="${error}"></p>
            </div>
        </div>
        <div class="promo-box">
            <img th:src="@{/panou.jpg}" alt="Promo Image">
        </div>
    </div>

    <script>
        window.onload = function() {
            setTimeout(function() {
                document.querySelector('.preloader').classList.add('fade-out');
                document.querySelector('.container').classList.add('fade-in');
            }, 3000); 

            setTimeout(function() {
                document.querySelector('.preloader').classList.add('hidden');
            }, 4000);
        };
    </script>
</body>
</html>
