<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Bank</title>
    <link rel="stylesheet" th:href="@{/styles-panel.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>        
    <div class="background">
        <div class="content">
            <header>
                <div class="logo">
                    <img th:src="@{/images/logo.png}" alt="Green Bank">
                </div>
                <div class="welcome-message">
                    <h1 th:text="'Bine ai venit, ' + ${username}"></h1>
                </div>
                <div class="new-button">
                    <button>New +</button>
                </div>
                <img src="/images/notification.png" alt="Notification Icon" class="icon" id="open-modal">
            </header>

            <div class="account-info">
                <div class="balance">
                    <p th:text="'Cont: ' + ${suma} + ' Lei'"></p>
                </div>
                <div class="actions">
                    <a href="/transactionHistory"><button>Istoric Tranzacții</button></a>
                    <a href="/transactionPanel"><button>Plată nouă</button></a>
                </div>
            </div>

            <div class="sidebar">
                <div class="menu-item">
                    <a href="/contact">
                        <img th:src="@{/images/contact-icon.png}" alt="Contact">
                        <p>Contact</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/carduri">
                        <img th:src="@{/images/card-icon.png}" alt="Carduri">
                        <p>Carduri</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/produse">
                        <img th:src="@{/images/products-icon.png}" alt="Produse">
                        <p>Produse</p>
                    </a>
                </div>
            </div>

            <div class="products">
                <img th:src="@{/images/products.png}" alt="Products">
            </div>
        </div>
        <div class="back-button">
            <a th:href="@{/login/}">
                <img th:src="@{/images/back-button.png}" alt="Back">
            </a>
        </div>
    </div>

    <section class="modal container">
        <div class="modal__container" id="modal-container">
            <div class="modal__content">
                <div class="modal__close close-modal" title="Close">
                    <i class='bx bx-x'></i>



                </div>
                <img src="/images/star-trophy.png" alt="" class="modal__img">
                <h1 class="modal__title">Cerere</h1>
                <div th:if="${session.loggedInUsername == session.destinat}">
                    <p class="modal__description" th:text="'Utilizatorul: ' + ${session.requestUser}"></p>
                    <p class="modal__description" th:text="'Suma: ' + ${session.requestSum}"></p>
                    <p class="modal__description" th:text="'Descriere: ' + ${session.requestDesc}"></p>
                </div>
                <button class="modal__button modal__button-width">Trimite</button>
                <button class="modal__button-link close-modal">Respinge</button>
            </div>
        </div>
    </section>

    <script src="main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const showModal = (openButton, modalContent) => {
                const openBtn = document.getElementById(openButton),
                    modalContainer = document.getElementById(modalContent);

                if (openBtn && modalContainer) {
                    openBtn.addEventListener('click', () => {
                        modalContainer.classList.add('show-modal');
                    });
                }
            };
            showModal('open-modal', 'modal-container');

            const closeBtn = document.querySelectorAll('.close-modal');

            function closeModal() {
                const modalContainer = document.getElementById('modal-container');
                modalContainer.classList.remove('show-modal');
            }

            closeBtn.forEach(c => c.addEventListener('click', closeModal));
        });
    </script>
</body>
</html>
